node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npmrc

dist/
build/
coverage/
*.tsbuildinfo

.env
.env.*
!.env.example

*.tar
*.gz

charts/**/charts/
charts/**/tmp/
*.tgz
*.lock

logs/
*.log

.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

*.swp
*.swo
