replicaCount: 2
image:
  repository: maorbaron/refael
  tag: 4f98d896e5dd6719c06922c3fd8ff18afef5d2e1
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 80
  targetPort: 8080
env:
  PORT: "8080"
ingress:
  enabled: true
  className: nginx
  host: ""
  paths:
    - path: /
      pathType: Prefix
probes:
  readinessPath: /ready
  livenessPath: /live
resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 250m
    memory: 256Mi
