apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "refael-nodejs.fullname" . }}
  labels:
    {{- include "refael-nodejs.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "refael-nodejs.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "refael-nodejs.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 10001
            runAsGroup: 10001
            readOnlyRootFilesystem: true
            capabilities:
            drop: ["ALL"]
          env:
            - name: PORT
              value: {{ .Values.env.PORT | quote }}
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}

          readinessProbe:
            httpGet:
              path: {{ .Values.probes.readinessPath }}
              port: {{ .Values.service.targetPort }}
            initialDelaySeconds: 3
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3

          livenessProbe:
            httpGet:
              path: {{ .Values.probes.livenessPath }}
              port: {{ .Values.service.targetPort }}
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          resources:
            {{- toYaml .Values.resources | nindent 12 }}

         
